In [2]:
# Load libraries
import pandas as pd
from pandas_profiling import ProfileReport
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import missingno as msno

/Users/federico.gutierrez/.pyenv/versions/3.10.7/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
# Loading the dataset into a dataframe
df = pd.read_csv("CO2-emission-by-countries.csv", encoding='ISO-8859-1')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59620 entries, 0 to 59619
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              59620 non-null  object
 1   Code                 57452 non-null  object
 2   Calling Code         56097 non-null  object
 3   Year                 59620 non-null  int64
 4   CO2 emission (Tons)  59620 non-null  float64
 5   Population(2022)     53116 non-null  float64
 6   Area                 55284 non-null  float64
 7   % of World           55284 non-null  object
 8   Density(km2)         53116 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 4.1+ MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,59620.0,1.885000e+03,7.823108e+01,1750.0,1817.0,1885.0,1953.0,2.020000e+03
CO2 emission (Tons),59620.0,1.034774e+09,1.041652e+10,0.0,0.0,0.0,8715092.0,4.170000e+11
Population(2022),53116.0,3.992260e+07,1.482365e+08,11312.0,1770414.5,8673095.0,28629200.5,1.425887e+09
Area,55284.0,6.522073e+05,1.865483e+06,21.0,17704.5,110381.5,492573.0,1.709824e+07

In [7]:
df.head()

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²

In [11]:
report = ProfileReport(df)

In [17]:
report.to_notebook_iframe()

ModuleNotFoundError: No module named 'ipywidgets'

In [ ]:
sum(df["reviews per month"].isnull())

In [ ]:
df["reviews per month"].mean()

In [ ]:
fig, ax = plt.subplots(figsize = (9,9))
ax.hist(df["reviews per month"])
ax.set_yscale('log')

In [22]:
df["reviews per month"].fillna(df["reviews per month"].mean(), inplace = True)

In [ ]:
sum(df["reviews per month"].isnull())

In [ ]:
sns.countplot(x = "room type", data = df)

In [34]:
df["neighbourhood group"].value_counts()

Manhattan        43792
Brooklyn         41842
Queens           13267
Bronx             2712
Staten Island      955
brookln              1
manhatan             1
Name: neighbourhood group, dtype: int64

In [ ]:
sns.countplot(y = "neighbourhood group", data = df)