In [1]:
# Load libraries
import pandas as pd
from pandas_profiling import ProfileReport
import seaborn as sns

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv("annual-change-forest-area2.csv", low_memory=False)
dfcont = pd.read_csv("countryContinent.csv", encoding='ISO-8859-1')
dfEmissions = pd.read_csv("CO2-emission-by-countries.csv", encoding='ISO-8859-1')

In [3]:
df['new_column'] = 'value 1'
dfcont.head()

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0

In [9]:
dfContinent = pd.merge(dfEmissions, dfcont, left_on="Country", right_on="country", how="left")
dfContinent.head()

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2),country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0

In [10]:
dfMerged = pd.merge(dfContinent, df, left_on=["Country", "Year"], right_on=["Entity", "Year"], how="left")
dfMerged.head()

,Country,Code_x,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2),country,...,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,Entity,Code_y,Net forest conversion,new_column
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²,Afghanistan,...,4.0,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,NaN,NaN,NaN,NaN
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²,Afghanistan,...,4.0,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,NaN,NaN,NaN,NaN
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²,Afghanistan,...,4.0,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,NaN,NaN,NaN,NaN
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²,Afghanistan,...,4.0,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,NaN,NaN,NaN,NaN
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²,Afghanistan,...,4.0,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,NaN,NaN,NaN,NaN

In [18]:
dfFiltered = dfMerged[["Country", "Year", "continent", "Net forest conversion", "CO2 emission (Tons)", "% of World"]]

In [22]:
dfFiltered[dfFiltered["Year"] >= 1990]

,Country,Year,continent,Net forest conversion,CO2 emission (Tons),% of World
240,Afghanistan,1990,Asia,NaN,59182404.0,0.40%
241,Afghanistan,1991,Asia,NaN,61609770.0,0.40%
242,Afghanistan,1992,Asia,NaN,62989232.0,0.40%
243,Afghanistan,1993,Asia,NaN,64322287.0,0.40%
244,Afghanistan,1994,Asia,NaN,65603889.0,0.40%
...,...,...,...,...,...,...
59615,Zimbabwe,2016,Africa,NaN,736467042.0,0.30%
59616,Zimbabwe,2017,Africa,NaN,746048675.0,0.30%
59617,Zimbabwe,2018,Africa,NaN,757903042.0,0.30%
59618,Zimbabwe,2019,Africa,NaN,768852126.0,0.30%
59619,Zimbabwe,2020,Africa,NaN,779383468.0,0.30%

In [12]:
dfMerged.columns

Index(['Country', 'Code_x', 'Calling Code', 'Year', 'CO2 emission (Tons)',
       'Population(2022)', 'Area', '% of World', 'Density(km2)', 'country',
       'code_2', 'code_3', 'country_code', 'iso_3166_2', 'continent',
       'sub_region', 'region_code', 'sub_region_code', 'Entity', 'Code_y',
       'Net forest conversion', 'new_column'],
      dtype='object')